# Dependency directories
node_modules/
jspm_packages/

### ReactNative.Node Stack ###
# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm

# Expo
.expo
__generated__
web-build